<div class="container">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="wrapper">
        <div class="row">
          <ul class="list-unstyled">
            <% @cocktails.each_with_index do |cocktail, index| %>
              <div class="col-xs-12 col-sm-4">
                <%= link_to cocktail_path(cocktail) do %>
                  <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, crop: :fill %>')">
                    <div class="card-name"><%= cocktail.name %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
